.paginaPerfil {
  .cabecalhoPerfil {
    background-color: $branco;
    margin-bottom: -15px;

    .cabecalhoComAcoes {
      button {
        background-color: transparent;
        border: none;
      }
    }

    .statusPerfil {
      display: flex;
      align-items: center;
      padding: 16px 16px 24px;

      .avatar {
        width: 80px;
        height: 80px;
        margin-right: 24px;
      }
    }
    .informacoesPerfil {
      flex: 1;
      display: flex;
      flex-direction: column;

      .btn {
        margin-top: 16px;
        padding: 6px;
        font-size: 12px;
        border-radius: 8px;
      }
      .statusContainer {
        display: flex;
        justify-content: space-around;
        .status {
          text-align: center;
          > strong {
            font-size: 14px;
            display: block;
          }

          > span {
            font-size: 12px;
            display: block;
          }
        }
      }
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    .cabecalhoPerfil {
      .cabecalhoComAcoes {
        .setaEsquerdaDesktop {
          display: none !important;
        }
      }
    }
    .statusPerfil {
      .avatar {
        width: 90px;
        height: 90px;
      }

      .informacoesPerfil {
        .btn {
          padding: 8px;
        }
      }
    }
  }
}

.conteudoPaginaEditarPerfil {
background-color: $branco;

  h1 {
    font-family: $fontBold;
    font-size: 16px;
    width: 90px;
    height: 24px;
    margin-bottom: -25px;
    margin-left: 41%;
    color: $cinza4;
    z-index: +1;
  }
  .edicaoAvatar {
    margin:16px 0px ;
    text-align: center;
    .avatar {
      width: 80px;
      height: 80px;
      margin-bottom: 3px;
    }
    span{
      font-size: 12px;
      color:$corPrimaria;
      text-decoration: underline;
    }
  }
  .edicaoNome{
    margin:18px 0px ;
    display: flex;
    align-items: center;
    padding: 0px 16px;

    label{
      color:$cinza3
    }
    input{
      flex:1;
      border: none;
      outline: none;
      padding: 0px 16px;
      color:$cinza4
    }
  
  }
  
  @media screen and (min-width: $desktopBreakpoint) {
    display: flex;
    height: 85vh;
    flex-direction: column;
    
    .conteudoPaginaEditarPerfil {
      flex: 1;
    }}
  }