.paginaPublicacao {
  background-color: $branco;

  .cabecalhoComAcoes {
    .setaEsquerdaDesktop {
      cursor: pointer;
    }
  }

  h1 {
    font-family: $fontBold;
    font-size: 16px;

    width: 55%;
    height: 55px;

    margin-bottom: -55px;
    margin-left: 35%;

    color: $cinza4;
  }

  .conteudoPaginaPublicacao {
    .primeiraEtapa {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .uploadImagemContainer {
        text-align: center;
        .imagemPreviewContainer {
          margin: 30px auto;
          img {
            object-fit: cover;
          }
          .previewImagemPublicacao {
            width: 150px;
            height: 150px;
          }
          .previewImagemSelecionada {
            width: 250px;
            height: 250px;
          }
        }
      }

      .btn {
        background-color: $corPrimaria3;
        color: $branco;
        width: 70%;
        margin: auto;
        padding: 12px;

        &:hover {
          border: none;
          opacity: 0.8;
        }
      }
    }

    .segundaEtapa {
      display: flex;
      padding: 16px;

      .uploadImagemContainer {
        .imagemPreviewContainer {
          width: 80px;
          height: 80px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      textarea {
        resize: none;
        border: none;
        outline: none;
        font-size: 12px;
        font-family: $fontLight;
        flex: 1;
        color: $cinza2;
        margin-left: 16px;
      }
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    display: flex;
    height: 85vh;
    flex-direction: column;

    .conteudoPaginaPublicacao {
      .primeiraEtapa {
        .uploadImagemContainer {
          .imagemPreviewContainer {
            margin-bottom: 20px;
          }
        }
        .textoDragAndDrop {
          text-align: center;
          color: $cinza4;
          margin-bottom: 30px;
        }
      }

      .segundaEtapa {
        .uploadImagemContainer {
          .imagemPreviewContainer {
            width: 160px;
            height: 160px;
          }
        }
      }
    }
  }
}
